.wapper{
    background-color: rgb(20, 179, 179);
}
.flying-box{
   
    color: rgb(239, 238, 240);
    font-weight: bold;
    background-color: rgb(184, 24, 24);
    width: 220px;
    height: 20px;
    padding: 20px;
    margin:100px;
   
   
    
    
}